@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #F5F5F4;
    font-family: "Outfit", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container{
    display: grid;
    grid-template-columns: 300px 1200px;
    grid-template-rows: 100px 500px;
    gap: 15px;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
    background-color: #FAFAFA;
    border: 2px solid orange;
    align-items: center;
}

.nav ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;    
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: #27272A;
    font-size: 1.6rem;
    font-weight: 600;
}

.labels{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.search, .profile{
    display: flex;
}

.search-bar{
    border: none;
    border-radius: 15px;
    background-color: #E5E7EB;
}

.search-icon{
    border: none;
    background-color: transparent;
    padding: 14px;
    background-image: url(./src/icons/search.svg);
    background-repeat: no-repeat;
}

.notification{
    background-image: url(./src/icons/notifications.svg);
    background-repeat: no-repeat;
    padding: 14px;
}

.profile-picture{
    background-image: url(./src/images/profile-picture1.png);
    background-size:cover ;
    background-position: center;
    height: 40px;
    width: 40px;
}

.profile-name{
    font-size: 1.8rem;
    font-weight: 700;
    align-self: center;
}

.sidebar{
    grid-row: 1/3;
    border: 2px solid red;
}

.content{
    border: 2px solid purple;
}